
body {
  background-color: rgb(111,165,89);
}

.footer{
  position: relative;
  text-align: center;
  bottom:0%;
  padding:10;
}

.images{
	width:50%;
}

.images_label{
  text-align: left;
  left:50%;
  width:100%;
  color: white;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow: -2px -2px 10px black;
  background-color: rgb(111,165,89);
  padding:10;
  margin:0;
}  

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: silver;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before{
	display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: silver;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}