
body {
  background-color: rgb(111,165,89);
}
.radioButtton{
  cursor: pointer;
  height: 25px;
  width: 25px;
  vertical-align: top;
  border-radius: 0;
  background-color: #eee;
}
.footer{
  position: relative;
  text-align: center;
  bottom:0%;
  padding:10;
}

hr {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: silver;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before{
	display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: silver;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
.input-label{
  font-size: 35px;
}
.input-text
{
  height: 45px;
  width: 100px;
  font-size: 35px;
}
.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 45px;
    border-radius: 90px;
    background: #6c5b54;
    outline: none;
    opacity: .7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 50px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
#input-value{
  float: Left;
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: -2px -2px 10px black;
}
#label{
  color: white;
  /* offset-x | offset-y | blur-radius | color */
  font-size: 35px;
  text-shadow: -2px -2px 10px black;
}
#Cost{
  color: white;
  /* offset-x | offset-y | blur-radius | color */
  font-size: 35px;
  text-shadow: -2px -2px 10px black;
}
.email-link{
    color: white;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: -2px -2px 10px black;
}
